<div id="chat-form" class="d-none">

    <div class="full-page">
        <div id="chat-content">
            <div class="chat-header bg-primary text-white">
                <h3 class="panel-title"><span class="fa fa-comment"></span> Chat - <span id="otherUser"></span></h3>
            </div>
            <div class="chat-body bg-light msg_container_base">
                <!-- Message Example -->
                <!-- <div class="msg_container base_sent">
                    <div class="messages msg_sent">
                        <p>that mongodb thing looks good, huh?
                            tiny master db, and huge document store</p>
                        <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                    </div>
                </div>
                <div class="msg_container base_receive">
                    <div class="messages msg_receive">
                        <p>that mongodb thing looks good, huh?
                            tiny master db, and huge document store</p>
                        <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
                    </div>
                </div> -->
            </div>
            <div class="chat-footer">
                <div class="d-flex flex-grow-1">
                    <input class="form-control mr-3" id="new-message" type="text">
                    <button id="send-message" class="btn btn-success">
                        <span class="fa fa-send"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>